/*need to change the background image in 480px*/


/* Big tablet to 1200px (widths smaller taht the 1140px row) */
@media only screen and (max-width: 1200px) {
    
    .heading,.heading:hover
    {
        max-width: 350px;
    }
    
    .service-feature img
    {
        height: 90%;
        width: 100%;
    }
    
    .work-showcase
    {
        width: 90%;
        margin: 0 auto;
    }
}

/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1040px) {
    .row
    {
        padding: 0 2%;
    }
    .navbar a {
        padding: 14px 13px;
    }
    
    body
    {
        font-size: 17px;
    }
    
    .heading,.heading:hover
    {
        max-width: 300px;
    }
    
    .service-feature-written,.service-feature-written-2
    {
        height: 30vh;

    }
    
    .testimonial-main img
    {
        height: 200px;
        width: 200px;
    }

    .statement
    {
        margin-top: 0;
        margin-right: 10%;
    }
    
    .gmap
    {
        margin-left: 10%;
    }
    
    .gmap iframe
    {
        height: 200px;
        width: 270px;
    }
    
    .contact-main
    {
        max-width: 900px;
    }

    
}

@media only screen and (max-width: 850px) {
    .row
    {
        padding: 0 2%;
    }
    .navbar a {
        padding: 14px 13px;
    }
    
    body
    {
        font-size: 17px;
    }
    
    .heading,.heading:hover
    {
        max-width: 300px;
    }

    
    .service-feature-written,.service-feature-written-2
    {
        height: 30vh;

    }
    
    .testimonial-main img
    {
        height: 200px;
        width: 200px;
    }

    .statement
    {
        margin-top: 0;
        margin-right: 10%;
    }
    
    .contact-main
    {
        max-width: 850px;
    }

    
    .gmap
    {
        margin-left: 4%;
    }
    
    .gmap iframe
    {
        height: 200px;
        width: 270px;
    }
    
    .contact-info
    {
        margin-left: 1%;
    }
    
}

/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
    .row
    {
        max-width: 700px;
    }
    
    .service-feature-written-2
    {
        margin-left: 0;
    }
    
    body
    {
        font-size: 12px;
    }
    
    header
    {
        height: 480px;
        width: auto;
    }
    
    .navbar a {
        font-size: 12px;
        padding: 10px 7px;
    }
    
    .navbar img
    {
        height: 30px;
        width: 110px;
    }
    
    .service-feature-written
    {
        height: 20vh;

    }
    
    .heading,.heading:hover
    {
        max-width: 200px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .about-heading,.about-heading:hover
    {
        max-width: 200px;
    }

    .about-heading ion-icon,.heading ion-icon
    {
        font-size: 300%;
        padding: 3%;
    }

    .about-section
    {
        max-width: 400px;
        margin: 0 auto;
        background-color: #131516;
        border-radius: 10px;
        padding: 6% 4%; 
    }
    
    .swiper-slide {
        font-size: 12px;
    }
    .testimonial-main img
    {
        height: 140px;
        width: 140px;
        margin-bottom: 0%;
        margin-left: 0%;
    }

    .statement
    {
        margin-top: 1%;
        margin-right: 0%;
        text-align: left;
    }
    
    .contact-main
    {
        max-width: 700px;
    }

    
    .gmap
    {
        margin-left: 16%;
    }
    
    .gmap iframe
    {
        height: 120px;
        width: 150px;
    }
    
    .contact-info
    {
        margin-left: 1%;
    }
}

@media only screen and (max-width: 670px) {
    .row
    {
        max-width: 650px;
    }
    
    body
    {
        font-size: 12px;
    }
    
    header
    {
        height: 480px;
        width: auto;
    }
    
    .navbar a {
        font-size: 12px;
        padding: 10px 7px;
    }
    
    .navbar img
    {
        height: 30px;
        width: 110px;
    }
    
    .service-feature-written
    {
        height: 20vh;

    }
    
    .heading,.heading:hover
    {
        max-width: 200px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .about-heading,.about-heading:hover
    {
        max-width: 200px;
    }

    .about-heading ion-icon,.heading ion-icon
    {
        font-size: 300%;
        padding: 3%;
    }

    .about-section
    {
        max-width: 400px;
        margin: 0 auto;
        background-color: #131516;
        border-radius: 10px;
        padding: 6% 4%; 
    }
    
    .swiper-slide {
        font-size: 12px;
    }
    .testimonial-main img
    {
        height: 140px;
        width: 140px;
        margin-bottom: 0%;
        margin-left: 0%;
    }

    .statement
    {
        margin-top: 1%;
        margin-right: 0%;
        text-align: left;
    }
    
    .contact-main
    {
        max-width: 650px;
    }

    
    .gmap
    {
        margin-left: 10%;
    }
    
    .gmap iframe
    {
        height: 120px;
        width: 150px;
    }
    
    .contact-info
    {
        margin-left: 1%;
    }
}

@media only screen and (max-width: 530px) {
    .row
    {
        max-width: 500px;
    }
    
    body
    {
        font-size: 12px;
    }
    
    header
    {
        height: 480px;
        width: auto;
    }
    
    .navbar a {
        font-size: 12px;
        padding: 10px 7px;
    }
    
    .navbar img
    {
        height: 30px;
        width: 110px;
    }
    
    .service-feature-written
    {
        height: 20vh;

    }
    
    .heading,.heading:hover
    {
        max-width: 200px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .about-heading,.about-heading:hover
    {
        max-width: 200px;
    }

    .about-heading ion-icon,.heading ion-icon
    {
        font-size: 300%;
        padding: 3%;
    }

    .about-section
    {
        max-width: 400px;
        margin: 0 auto;
        background-color: #131516;
        border-radius: 10px;
        padding: 6% 4%; 
    }
    
    .swiper-slide {
        font-size: 12px;
    }
    .testimonial-main img
    {
        height: 140px;
        width: 140px;
        margin-bottom: 0%;
        margin-left: 0%;
    }

    .statement
    {
        margin-top: 1%;
        margin-right: 0%;
        text-align: left;
    }
    
    .contact-main
    {
        max-width: 530px;
    }

    
    .gmap
    {
        margin-left: 0%;
    }
    
    .gmap iframe
    {
        height: 120px;
        width: 150px;
    }
    
    .contact-info
    {
        margin-left: 1%;
    }
}

/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px){
    .row
    {
        max-width: 350px;
        margin: 0 auto;
    }
    
    body
    {
        font-size: 10px;
    }
    
    header
    {
        height: 450px;
        width: auto;
    }
    
    .navbar a {
        font-size: 10px;
        padding: 5px 3.5px;
    }
    
    .navbar img
    {
        height: 20px;
        width: 60px;
    }
    
    .service-feature-written,.service-feature-written-2
    {
        background-image: url();
        height: auto;
        margin-bottom: 12%;
        color: #555;
    }
    
    .service-feature-written-2 p 
    {
        display: contents;
    }
    
    .service-feature-written p
    {
        text-align: left;
    }
    
    .service-feature img
    {
        width: 70%;
        height: auto;
    }
    
    .service-feature,.service-feature-2
    {
        margin-bottom: 4%;
        text-align: center;
    }
    
    .about-heading,.about-heading:hover
    {
        max-width: 170px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .heading,.heading:hover
    {
        max-width: 170px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .about-heading ion-icon, .heading ion-icon
    {
        font-size: 300%;
        padding: 3%;
    }

    .about-section
    {
        max-width: 300px;
        margin: 0 auto;
        background-color: #131516;
        border-radius: 10px;
        padding: 5% 4%; 
    }
    
    .swiper-slide {
        font-size: 12px;
    }
    .testimonial-main img
    {
        height: 100px;
        width: 100px;
        margin-bottom: 0%;
        margin-left: 0%;
    }

    .statement
    {
        margin-top: 1%;
        margin-right: 0%;
        text-align: left;
    }
    
    .gmap
    {
        margin-left: 0%;
    }
    
    .gmap iframe
    {
        margin-left: 35%;
        height: 200px;
        width: 200px;
    }
    
    .contact-info
    {
        margin-top: 5%;
        margin-left: 10%;
    }
}

/* Small phones: from 0 to 320px */
@media only screen and (max-width: 320px){
    .row
    {
        max-width: 280px;
        margin: 0 auto;
    }
    
    body
    {
        font-size: 10px;
    }
    
    header
    {
        height: 450px;
        width: auto;
    }
    
    .navbar a {
        font-size: 10px;
        padding: 5px 3.5px;
    }
    
    .navbar img
    {
        height: 20px;
        width: 60px;
    }
    
    .service-feature-written,.service-feature-written-2
    {
        background-image: url();
        height: auto;
        margin-bottom: 12%;
    }
    
    .service-feature-written-2 p 
    {
        display: contents;
    }
    
    .service-feature-written p
    {
        text-align: left;
    }
    
    .service-feature img
    {
        width: 70%;
        height: auto;
    }
    
    .service-feature,.service-feature-2
    {
        margin-bottom: 4%;
        text-align: center;
    }
    
    .about-heading,.about-heading:hover
    {
        max-width: 170px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .heading,.heading:hover
    {
        max-width: 170px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .about-heading ion-icon, .heading ion-icon
    {
        font-size: 300%;
        padding: 3%;
    }

    .about-section
    {
        max-width: 300px;
        margin: 0 auto;
        background-color: #131516;
        border-radius: 10px;
        padding: 5% 4%; 
    }
    
    .swiper-slide {
        font-size: 12px;
    }
    .testimonial-main img
    {
        height: 100px;
        width: 100px;
        margin-bottom: 0%;
        margin-left: 0%;
    }

    .statement
    {
        margin-top: 1%;
        margin-right: 0%;
        text-align: left;
    }
    
    .gmap
    {
        margin-left: 0%;
    }
    
    .gmap iframe
    {
        margin-left: 0%;
        height: auto;
        width: 100%;
    }
    
    .contact-info
    {
        margin-top: 5%;
        margin-left: 5%;
    }
    
    .contact-info p
    {
        margin-left: auto;
    }
}
